
#instructionsSection {
    display:none;
}
.boardNav {
	margin: 0;
	color: #f15b31;
	background: rgba(63, 95, 210,1);
	background: #3452B5;
}

.boardNav a:hover {
	border-color: white;
}

.board-container {
    display: grid;
    max-width: 980px;
    height: 500px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
}
.card-container {
    background-image: url("../images/card-back.png");
    /* height: 100%; */
    background-size: 100% 100%;
    border: 2px rgb(224, 33, 0) solid;
    border-radius: 10px;
    height: 200px;
}
.card {
    object-fit: cover;
    height: 100%;
}
