
#instructionsSection {
    display:none;
}
.boardNav {
	margin: 0;
	color: #f15b31;
	background: rgba(63, 95, 210,1);
	background: #3452B5;
}

.boardNav a:hover {
	border-color: white;
}

.board-container {
    display: grid;
    max-width: 980px;
    height: 500px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
    margin: 0 auto;
}
.card-container {
    background-image: url("../images/card-back.png");
    background-size: 100% 100%;
    border: 2px rgb(224, 33, 0) solid;
    border-radius: 10px;
    height: 200px;
}
.card {
    object-fit: cover;
    height: 100%;
    background-size: cover;
}

#readyContainer {
    height: 250px;
    text-align: center;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
#readyContainer img {
    display: block;
}
#readyContainer h1 {
    text-transform: uppercase;
    font-size: large;
    margin: 1rem;
}
.start-card:hover {
    border: 2px blue solid;
    box-shadow: 0px 4px 2px black;
}
.start-card {
    background-image: url(../images/card-front.png);
}
