main {
	margin-top: 15%;
	position: fixed;
	left: 15%;
	height: 600px;
	width: 85%;
	background: black;
	/* overflow: auto; */
	-webkit-box-shadow: 0 42px 33px -6px rgba(0, 0, 0, 0.35);
   	-moz-box-shadow: 0 42px 33px -6px rgba(0, 0, 0, 0.35);
    box-shadow: 0 42px 33px -6px rgba(0, 0, 0, 0.35);
    font-family: 'Krona One';
	max-width: 1000px; 
	color: white;
}


aside {
	height: 100%;
	width: 30%;
	/* position: relative; */
	float: left;
	box-sizing: border-box;

}

aside img {
	height: 100%;
	max-width: 100%;
	object-fit: cover;
}

section {
	height: 100%;
	width: 50%;
	/* position: relative; */
	float: left;
	box-sizing: border-box;
}

.centerWrapper {
	width: 50%;
}

.rightWrapper {
	width: 20%;
	background: blue;
	float: left;
}

.magicButton {
	height: 3em;
	width: 3em;
	border-radius: 50%;
	box-shadow: -2px 2px 2px rgba(0,0,0,.5);
	position: absolute;
	bottom: 1em;
	margin: 1em;
	font-size: 1em;
	text-align: center;
	/* margin-top: 1em;	 */
	color: black;
	background: linear-gradient(to top right, rgb(252, 222, 148), rgb(114, 86, 8),rgb(252, 228, 121));
	padding-top: 1em;
	box-sizing: border-box;
}

.magicButton:hover {
	border: rgba(0,0,0,.3) 1px solid;
	background: linear-gradient(to top right, rgb(255, 231, 171), rgb(165, 124, 13),rgb(255, 243, 187));
	transform: rotate(.5turn);
}

.hidden {
	display: none;
}














section h1, h2 {
	padding: 5px;
	margin-top: 15px;
}

section h1 {
	font-family: 'Roboto'; 
	font-size: 45px;
	text-align: center;
	font-weight: 900;
	margin-bottom: 15px;

}	
section small {
	font-size: 34px;
}
section h2 {
	font-size: 34px;
	letter-spacing: .01em;
}

section p {
	border-top: 2px rgb(123, 221, 216) solid;
	display: inline-block;
}

/* footer {
	display: block;
	height: 100%;
	width: 30%;
	position: relative;
	float: left;
	text-align: center;
	background: blue;
}

footer img {
	height: 100%;
} */






a img {
	height: 50px;
	width: auto;
	border-radius: 20px;
}

.gradient {
	/* background: linear-gradient(to top right, #9DABBA, rgb(230, 211, 186),rgb(105, 162, 212));
	background: -webkit-linear-gradient(to top right, #9DABBA, rgb(230, 211, 186),rgb(105, 162, 212));
	background: -moz-linear-gradient(to top right, #9DABBA, rgb(230, 211, 186),rgb(105, 162, 212));	 */
	background: linear-gradient(to top right, rgba(113,96,145,.4), rgba(220,120,123,1),rgba(250,218,174,1));
	background: -webkit-linear-gradient(to top right, rgba(160, 141, 116,1),rgba(105, 162, 212,1));
	background: -moz-linear-gradient(to top right, rgba(113,96,145,.4), rgba(220,120,123,1),rgba(250,218,174,1));	
}
